#We get these from --system-site-packages
#torch -i https://download.pytorch.org/whl/cu128
#torchvision -i https://download.pytorch.org/whl/cu128
#torchaudio -i https://download.pytorch.org/whl/cu128
matplotlib
huggingface_hub[cli]
transformers
